[settings]
default-library = main

[main]
dir = /Users/gabriele/Documents/GitHub/research-agent-cli/library
dir-format = {doc[year]}-{doc[author_list][0][surname]}-{doc[title_slug]}
file-format = {doc[year]}-{doc[author_list][0][surname]}-{doc[title_slug]}
opentool = open
extra-bibtex-keys = ['abstract']

[tui]
# TUI settings if needed
